<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogixForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <LogixForms.Properties.Settings>
            <setting name="W" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="H" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="AdresName" serializeAs="String">
                <value />
            </setting>
            <setting name="AdresValue" serializeAs="String">
                <value />
            </setting>
            <setting name="AdresLen" serializeAs="String">
                <value />
            </setting>
            <setting name="RangAdr" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="CfgAdr" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="FontStyle" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CollorTag" serializeAs="String">
                <value />
            </setting>
            <setting name="CollorCom" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsoleH" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ConsoleCollapsed" serializeAs="String">
                <value>True</value>
            </setting>
        </LogixForms.Properties.Settings>
    </userSettings>
</configuration>